.flex-center .container .row{
    justify-content: center;
}

.row-info{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 15px;
    text-align: center;
}

.lang li a{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
    text-decoration: none;
}
.menu-lang{
	text-align: center;
}
.bnt-lang{
 	padding: 5px 5px;
}

.alert-dismissible {
    padding-right: 1rem !important;
}

.img-container{
	background-color: rgba(0,0,0,.03);
    padding: 5%;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    border: 1px solid rgba(0,0,0,.125);
}

.img-container img{
	cursor: pointer;
}

.page-item.active .page-link {   
    color: #212529;
    background-color: gainsboro;
    border-color: gainsboro;
}

.page-link {    
    color: #212529;    
}

footer{
    text-align: center;
}

.alert-events{
    display: none;
}

.alert-events li{
    padding: 5px;
    margin: 5px;
    border: 1px;
    border-style: dashed;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .alert-events{                
        position: absolute;
        z-index: 1;
        right: 9%;    
        border-color: #856404;
        box-shadow: 5px 10px #b1ada2;
    }
}



