@media (min-width: 768px) {
	.col-md-3{
		flex: 0 0 24%;
		max-width: 24%; 
	}

	.col-lateral-table,
	.col-lateral-table > div,
	.card-menu-table .card-body{
		padding-left: 3px;
		padding-right: 3px;
		padding-bottom: 6px;
	}
	.card-menu-table .card-body{
		padding-top: 6px;	
	}
}	

