
.video-container{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	top: 0px;
	z-index: -100; 
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
}

.flex-center .container .row{
	justify-content: center;
}

/*media-query*/
@media screen and (min-width: 768px) {
  	.navbar-laravel{           
        background: #ffffffbb;
        position: fixed;
        width: 100%;       
        top: 0px;
        z-index: 1;     
    }
}
@media screen and (max-width: 767px) {
	.video-container{
		display: none;
	}	
}
