.card-body{
	/*padding: 0.50rem;*/
}
#containment-wrapper{
	/*padding: 0px;*/
	display: flex;
	flex-wrap: wrap;
}
/*
.selected-table{
    background-color: aliceblue;
}
*/

.object-table{
    height: 100%;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.order_select_conteiner{
	position: absolute;
	bottom: 10px;    		
}
.a-brange{
	position: absolute;
    top: 6px;
    right: 10px;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #212529;;
    border-radius: 10px;
}

.draggable { 
	/*width: 150px;*/
	height: 190px;
	padding: 0.5em; 
	border: solid 1px gainsboro;
	text-align: center;
}

.draggable p:nth-of-type(1) {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

.draggable p:nth-of-type(1)  > i{
	font-size: 22px;
	position: absolute;
    top: 10px;
    left: 8px;
}


@media (min-width: 768px) {
	.col-md-3{
		flex: 0 0 24%;
		max-width: 24%; 
	}

	.col-lateral-table,
	.col-lateral-table > div,
	.card-menu-table .card-body{
		padding-left: 3px;
		padding-right: 3px;
		padding-bottom: 6px;
	}
	.card-menu-table .card-body{
		padding-top: 6px;	
	}
}	

