.card-body{
	padding: 0.50rem;
}
#containment-wrapper{
	/*padding: 0px;*/
	display: flex;
	flex-wrap: wrap;
}
/*
.selected-table{
    background-color: aliceblue;
}
*/
.services-table .order-obj,
.services-table .order-obj > div{
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;        
}

.order-obj{
	margin-bottom: 1rem;
}

.object-table{
    height: 100%;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.order_select_conteiner{
	position: absolute;
	bottom: 10px;    		
}
.a-brange{
	position: absolute;
    top: 6px;
    right: 10px;
}
.badge-table {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #212529;;
    border-radius: 10px;
}

.draggable {	
	min-height: 100px;
	max-height: 200px;
	padding: 0.5em; 
	border: solid 1px gainsboro;
	text-align: center;
}

.draggable p:nth-of-type(1) {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

.draggable p:nth-of-type(1)  > i{
	font-size: 22px;
	position: absolute;
    top: 10px;
    left: 8px;
}

#modal_order_view .modal-body,
#modal_order_view .row > div{
	padding: 0.25rem;
}

#modal_order_view .product_obj,
#modal_order_view .last-div-total{
	border-top: 1px solid;
}

.p-tittle{
    margin-bottom: 0rem;
}

@media only screen and (max-width: 991px) and (min-width: 768px){
	.container {
    	max-width: 100%;
	}
	.order_select_conteiner .dropdown-item{
		padding: 0px 1px 0 8px;
	}

	.object-table >div,.object-table > p{
		font-size: 14px;
	}

	.order_select_conteiner .dropdown-item{
		padding: 0px 0px 0px 0px;
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	.col-md-3{
		flex: 0 0 24%;
		max-width: 24%; 
	}

	.col-lateral-table,
	.col-lateral-table > div,
	.card-menu-table .card-body{
		padding-left: 3px;
		padding-right: 3px;
		padding-bottom: 6px;
	}
	.card-menu-table .card-body{
		padding-top: 6px;	
	}
}

@media only screen and (max-width: 1199px) and (min-width: 992px){
	.order_select_conteiner{
		bottom: 10px;
	}
	.order_select_conteiner .dropdown-item{
		padding: 0px 1px 0 8px;
	}

	.object-table >div,.object-table > p{
		font-size: 14px;
	}
}


@media (max-width: 1199px) {
	#containment-wrapper > div{		
        top:0 !important; 
        right:0 !important; 
        bottom:0 !important; 
        left:0 !important;
        margin-bottom: 20px;
	}

	#containment-wrapper{
		height: auto !important; 
	}

}

@media (max-width: 767px) {
	#containment-wrapper > div{		
        top:0 !important; 
        right:0 !important; 
        bottom:0 !important; 
        left:0 !important;
        margin-bottom: 20px;
	}

	#containment-wrapper{
		height: auto !important; 
	}

	.order_select_conteiner {
	    left: 30%;
	}

	.col-lateral-table{
		padding-right: 0px;
    	padding-left: 0px;
	}
}

@media (max-width: 498px) {
	.order_select_conteiner {
	    left: 25%;
	}
}

@media (max-width: 398px) {
	.order_select_conteiner {
	    left: 20%;
	}
}

