
.video-container{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	top: 0px;
	z-index: -100; 
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
}

.flex-center .container .row{
	justify-content: center;
}

/*media-query*/
@media screen and (min-width: 768px) {
	.navbar-laravel{		   
	    background: #ffffff99;
	    position: fixed;
	    width: 100%;       
	    top: 0px;
	    z-index: 1;	    
	}
	.pb-4, .py-4 {
	    padding-bottom: 0rem!important;
	    padding-top: 5rem!important;
	}
	.flex-center .container .row .card,
	.container .login-card .card{
		background: #ffffff99;
	}  
}
@media screen and (max-width: 767px) {
	.video-container{
		display: none;
	}	
}
